<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title><%= title %></title>
        <link rel="stylesheet" href="/headerStyles.css">
    </head>
    <body>
        <%- include('./partials/header.ejs') %>
        <main>
            <h1><%= title %></h1>
            <ul>
                <% messages.forEach((mssg) => { %>
                    <li>
                        <h2><%= mssg.title %></h2>
                        <p><%= mssg.text %></p>
                        <p><%= mssg.timestamp %></p>
                        <% if(locals.currentUser && currentUser.member) { %>
                            <p><%= mssg.username %></p>
                        <% } %>
                        <% if(locals.currentUser && currentUser.admin) { %>
                            <form action="deleteMessage/<%=mssg.mssgid%>" method="post">
                                <button type="submit">Delete</button>
                            </form>
                        <% } %>
                    </li>
                <% }); %>
            </ul>
            <% if(locals.currentUser) { %>
                <a href="/newMessage">New Message</a>
            <% } %>
        </main>
    </body>
</html>