<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title><%=title%></title>
        <link rel="stylesheet" href="/headerStyles.css">
        <link rel="stylesheet" href="/secretStyles.css">
        <link rel="stylesheet" href="/errorStyles.css">
    </head>
    <body>
        <%- include('./partials/header.ejs') %>
        <main>
            <h1 class="title"><%=title%></h1>
            <form action="<%=route%>" method="post" class="secret form">
                <label for="secret" class="secret label">Enter Secret:</label>
                <input type="password" id="secret" name="<%=route%>" maxlength="20" class="secret input" required>
                <button type="Submit">Submit</button>
            </form>
            <%- include('./partials/errors.ejs') %>
        </main>
    </body>
</html>