<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title><%=title%></title>
    </head>
    <body>
        <h1><%=title%></h1>
        <%- include('./partials/errors.ejs') %>
        <form action="<%=route%>" method="post">
            <label for="secret">Enter Secret:</label>
            <input type="password" id="secret" name="<%=route%>" maxlength="20" required>
            <button type="Submit">Submit</button>
        </form>
    </body>
</html>